<section class="py-3 flex flex-col gap-4 h-screen relative overflow-x-hidden">
  <header class="flex flex-col gap-4">
    <span
      (click)="navigateHome()"
      class="text-chatify-text font-logo text-5xl monoton-regular select-none"
    >
      CHATIFY
    </span>
    <search-bar></search-bar>
  </header>

  <div class="flex flex-row justify-between text-chatify-text">
    <div>Chats</div>
    <div>14</div>
  </div>

  <div class="relative flex-1 overflow-y-auto mb-10">
    <app-user-list></app-user-list>
  </div>
</section>
