<section class="flex flex-col md:flex-row bg-chatify-bg w-full h-screen">
  <app-sidenav class="lg:w-1/26 bg-chatify rounded-xl m-3"></app-sidenav>

  @if(isMdScreen()){
    @if(selectedUser() === null){
    <app-sidebar class="relative lg:w-1/6 bg-chatify rounded-xl m-3 p-4" />
    <app-empty-screen
      class="flex flex-1 items-center justify-center m-3 rounded-xl bg-chatify"
    ></app-empty-screen>
    } @else {
    <router-outlet></router-outlet>
    } 
  } @else if(isLgScreen()){
  <app-sidebar class="relative lg:w-1/6 bg-chatify rounded-xl m-3 p-4" />
    @if(selectedUser() === null){
    <app-empty-screen
      class="flex flex-1 items-center justify-center m-3 rounded-xl bg-chatify"
    ></app-empty-screen>
    } @else {
    <router-outlet></router-outlet>
    } 
}
</section>
