<div
  class="flex flex-row justify-between text-chatify-text rounded-xl relative p-2 m-1 cursor-pointer hover:bg-selected-user"
>
  <div class="flex flex-row items-center gap-2">
    <div class="relative">
      <img [src]="'users/'+user().avatar" [alt]="user().name" class="rounded-full size-10 bg-zinc-300 object-cover"/>
      <div
        class="absolute bottom-0 right-0 size-3 rounded-full bg-green-400"
      ></div>
    </div>
    <div class="flex flex-col">
      <span>{{user().name}}</span>
      <span>Last message</span>
    </div>
  </div>
  <div>14min</div>
</div>
