<header class="p-6">
  <div class="flex flex-row justify-between w-full mb-3">
    <section>
        <div class="relative">
            <img [src]="'users/'+user()?.avatar" [alt]="user()?.name" class="rounded-full size-10 bg-zinc-300" />
            <div
              class="absolute bottom-0 right-0 size-3 rounded-full bg-green-400"
            ></div>
          </div>
      </section>
      <section class="text-white">
        {{user()?.name}}
      </section>
      <section class="flex felx-row gap-3 items-center">
        <button class="bg-[#26C282] rounded-full size-8"><i class="pi pi-phone text-[#1C2228]"></i></button>
        <button class="bg-[#383B47] rounded-full size-8 text-[#585B66]" (click)="closeChat()"><i class="pi pi-times"></i></button>
        <button class="size-8 text-[#585B66]"><i class="pi pi-ellipsis-h"></i></button>
      </section>
    </div>
    <div class="border-1 border-[#232630]"></div>
</header>
