/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Monoton&display=swap');
@import "tailwindcss";
@import "primeicons/primeicons.css";

*{
    box-sizing: border-box;
}

@theme {
  --color-chatify: #1A1C20;
  --color-chatify-bg: #20232B;
  --color-chatify-text: #636575;
  --color-selected-user: #23242A;

  --font-logo: "Bebas Neue", sans-serif;
  --font-login-register: "Exo", sans-serif;
  
  --p-floatlabel-focus-color: '#20232B'
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}